.s-hero{
    background: url('../../assets/bg-hero.png') no-repeat;
    background-position-x: 75% ;
    background-position-y: center;

    margin-top: 7rem;
    width: 100%;
    height: calc(100vh - 7rem);

    .container{
        @include flex (row, center, space-between);
        height: 100%;
    }

    .left-area{
        height: 100%;
        @include flex(column, flex-start, center);
        gap: 3rem;

        .title-hero{
            h1,h2,h3{
                font-family: 'IBM Plex Mono', sans-serif;
                line-height: 100%;
                letter-spacing: -0.01em;

            }
            h3{
                span{
                    font-weight: 300;
                    color: $text-color-body;
                }
                font-weight: 600;
                font-size: 2rem;
                color: $white;
                margin-bottom: 1.4rem;

            }
            h1{
                max-width: 74rem;
                font-weight: 600;
                font-size: 6.4rem;
                color: $white;
                margin-bottom: 1.4rem;

            }
            h2{
                font-weight: 300;
                font-size: 3.2rem;

                background: $liner-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
        .local{
            display: flex;
            align-items: center;
            gap: 1.4rem;
            margin-bottom: 4rem;

            img{
                width: 1.6rem;
                height: 2.36rem;
            }

            span{
                font-size: 1.8rem;
            }
        }

    }
    .right-area{
        height: 100%;
        position: relative;
        .social-links{
            position: absolute;
            bottom: 3rem;
            right: 0;
            ul{
                display: flex;
                gap: 2rem;
                
                li{
                    a{
                        display: flex;
                        align-items: center;
                        transition: transform .3s ease-in;
                        height: 6rem;
                        &:hover{
                            transform: translateY(-7px);
                        }

                        img{
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
}

.s-tags{
    overflow: hidden;
    width: 100%;
    height: 8rem;
    border-top: solid $brand-cyan-green-opacity 2px;
    border-bottom: solid $brand-cyan-green-opacity 2px;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    .tags{
        width: 100%;
        @include flex(row, center, space-between);
        gap: 16rem;
        
        li{
            display: ruby;
            font-family: 'IBM Plex Mono', sans-serif;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 150%;
            letter-spacing: -0.05em;

            color: $white;
        }
    }
}

.s-info{
    padding: 11.2rem 0;
    h2{
        max-width: 79rem;
        text-align: center;
        font-weight: 600;
        font-size: 4.8rem;
        line-height: 6.7rem;
        letter-spacing: -0.01em;

        color: $white; 
        margin: 0 auto 5rem;
    }

    .content-card{
        @include flex(row, center, space-between);
        padding: 8rem 4rem;
        gap: 3.6rem;

        width: 100%;

        background: linear-gradient(92.22deg, rgba(255, 255, 255, 0.095) -4.56%, rgba(255, 255, 255, 0.045) 100%);
        backdrop-filter: blur(25px);

        border-radius: 16px; 

        .left-area{
            h3{
                max-width: 377px;
                font-family: 'IBM Plex Mono', sans-serif;
                font-weight: 600;
                font-size: 4.8rem;
                line-height: 6.7rem;
                letter-spacing: -0.01em;

                /* Linear Gradient */
                background: $liner-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;


            }
        }
        .right-area{
            width: 100%;
            @include flex(row, center, space-between);
            gap: 3rem;
            margin-left: 3.6rem;
        }
    }
}

.s-about{
    padding: 11.2rem 0;

    .container{
        @include flex(row, center, space-between);
    }

    .left-area{
        position: relative;
        width: 100%;
        max-width: 57.8rem;
        height: 51.8rem;
        .image{
            position: absolute;
            top: 0;
            left: -10rem;
            max-width: 46.2rem;
            height: 54rem;
        }
    }
    .right-area{
        max-width: 57.8rem;

        p{
            margin-top: 3rem;

            max-width: 55.8rem;
            font-size: 1.8rem;
            line-height: 150%;
            display: flex;
            align-items: center;
            letter-spacing: -0.05em;
            color: rgba(255, 255, 255, 0.7);
        }

        ul{
            margin-top: 4rem;
            li{
                &:not(:first-child){
                    margin-top: 1.6rem;
                }
                display: flex;
                align-items: center;
                gap: 1.6rem;
                img{
                    width: 2rem;
                    height: 2.5rem;
                }
            }
        }
    }
}

.s-cases{
    position: relative;
    width: 100%;
    padding: 11.2rem 0;
    color: $text-color-title-alternative;

    .title{
        width: 100%;
        margin: 0 auto;
        max-width: 124.6rem;
        padding: 0 1.5rem;

        font-family: 'IBM Plex Mono';
        font-weight: 600;
        font-size: 6.4rem;
        line-height: 11.2rem;
        letter-spacing: -0.01em;

        /* Linear Gradient */
        background: $liner-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .cases-container{
        position: sticky;
        top: 0;
        height: 80rem;
        width: 100%;

        @include flex(row, center, space-between);

        .left-area{
            @include flex(row, center, center);
            flex: 1;
            height: 100%;
            background: $brand-cyan-green;
        }
        .right-area{
            max-width: 94.7rem;
            height: 100%;
            flex: 1;
            padding: 0 4rem;
            display: flex;
            justify-content: center;
            background: $white;
            
            .text-content{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 2.6rem;
                max-width: 54rem;
                h2{
                    font-family: 'IBM Plex Mono';
                    font-weight: 600;
                    font-size: 6.4rem;
                    line-height: 7.2rem;
                    letter-spacing: -0.01em;
                    color: $dark;
                }
                a{
                    font-weight: 700;
                    background: $dark;
                    color: $brand-cyan-green;
                }
            }            
        }
    }
}

.s-orcamento{
    padding: 11.2rem 0;
    h2{
        font-size: 4.8rem;
        line-height: 6.7rem;
        letter-spacing: -0.01em;
        margin-bottom: 2.4rem;
        background: $liner-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    p{
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 3.5rem;
        letter-spacing: -0.01em;

        /* Text/Color-text-body */
        color: $text-color-body;


    }
    .form{
        margin: 4.6rem 0;
        form{
            display: flex;
            align-items: center;  
            gap: 3rem;  
            
            .input-box{
                width: 100%;
                input{
                    padding: 1.5rem 3rem;
                    font-size: 1.6rem;
                    color: $text-color-body;
                    outline: none;

                    width: 100%;
                    max-width: 43.2rem;
                    height: 5.7rem;

                    background: #171717;
                    border: 1px solid $brand-cyan-green;
                    border-radius: 8px;

                    &::placeholder{
                        color: $text-color-body;
                        font-size: 1.8rem;
                    }
                }
                button{
                    width: 25rem;
                    height: 5.7rem;
                    font-size: 1.8rem;
                }
            }
        }
    }
}

footer{
    margin-top: 11.2rem;
    width: 100%;
    height: 10rem;
    background: $liner-gradient;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        position: relative;
        p{
            max-width: 108rem;
            font-weight: 300;
            font-size: 2rem;
            line-height: 150%;
            letter-spacing: -0.05em;

            color: #171717;
        }
        .logo-footer{
            width: 15.7rem;
            height: 3.1rem;
        }
    }
    
}