
main{
    padding-top: 7rem;

    @include responsive(500px){
        padding-top: 5rem;
    }
}
.s-hero{
    position: relative;
    width: 100%;
    height: 60rem;
    padding: 8rem 0 4rem;
    background: $dark;
    display: flex;
    justify-content: center;

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: inherit;
        right: 0;
        height: 100%;
        width: 30%;
        z-index: 0;
        background: $brand-green;
    }

    .container{
        @include flex(row, center, space-between);
    }

    .left-area{
        max-width: 60.3rem;

        .text-hero{
            h1{
                color: #fff;
                min-height: 6rem;
                text-align: left;

                span{
                    // display: block;
                    color: $liner-gradient;
                    min-height: 6.4rem;
                    // font-size: 3.2rem;
                }
            }
            p{
                color: $text-color-body;
                font-size: 1.6rem; 
                margin-top: 2rem;
                margin-bottom: 1.5rem;
            }
        }
        .local-hero{
            display: flex;
            align-items: center;
            gap: 1.6rem;
            margin-top: 3.6rem;

            .icon-local{
                width: 1.6rem;
                height: 2.0363rem; 
            }
            span{
                color: $text-color-body;
            }
        }
    }
    
    .right-area{
        z-index: 1;
        .illustration-hero{

        }
    }

    // Breakpoints

    @include responsive(1150px){
        .container{
            .left-area{
                width: 100%;
                max-width: 45rem;

                .text-hero{
                    h1{
                        font-size: 4.6rem;
                        line-height: 6rem;
                    }
                    p{
                        max-width: 45rem;
                        font-size: 1.6rem;
                        text-align: start;
                    }
                }
    
                .local-hero{
                    margin-top: 2.4rem;
                }
            }
        }
    }

    @include responsive(900px){
        height: auto;
        &::after{
            height: 25rem;
            width: 100%;
            top: inherit;
            bottom: 0;
        }
        .container{
            flex-direction: column;
            gap: 6.4rem;

            .left-area{
                max-width: 100%;
                text-align: centers;

                .text-hero{
                    h1{
                        text-align: center;
                    }
                    p{
                        max-width: 100%;
                        text-align: center;
                    }
                }
                .local-hero{
                    justify-content: center;
                }
            }
        }
    }

    @include responsive(500px){
        &::after{
            height: 20rem;
        }
    }
}

.s-quemSou{
    position: relative;
    width: 100%;
    padding: 8rem 0;

    .bg-sobre{
        position: absolute;
        right: -20rem;
        bottom: 1rem;
        z-index: -1;
        width: 40rem;
    }

    .container{
        @include flex(row, center, flex-start);
        gap: 6.4rem;
    }

    .left-area{
        position: relative;
        padding: 0 1.5rem;

        .image-sobre{
            width: 30rem;
            height: 35rem;
            flex-shrink: 0; 
            margin-left: 2rem;
        }

        &::after{
            content: "";
            position: absolute;
            top: 3.5rem;
            left: 0;
            width: 30rem;
            height: 35rem; 
            border: solid 3px $brand-green;
        }
        
    }
    .right-area{
        .text-sobre{
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            p{
                font-weight: 400;
                font-size: 1.6rem;
            }
        }
        .details-sobre{
            @include flex(row, center, space-between);
            gap: 1.6rem;
            margin-top: 3.6rem;
        }
    }

    // Breakpoints
    @include responsive(1150px){
        background-image: none;
    }

    @include responsive(900px){
        .bg-sobre{
            display: none;
        }
        .container{
            .left-area{
                .image-sobre{
                    width: 100%;
                    min-width: 20rem;
                    height: fit-content;
                }
                &::after{
                    width: 20rem;
                    height: 25rem;
                }
            }
        }
    }

    @include responsive(600px){
        .container{
            flex-direction: column;
        }
    }

    @include responsive(400px){
        .container{
            .details-sobre{
                flex-direction: column;
            }
        }
    }
}

.s-atuacao{
    width: 100%;
    padding: 8rem 0;
    background-color: $brand-green;

    .container{
        @include flex(row, center, center);
        gap: 3.4rem;
        height: 40rem;
        position: relative;

        background-image: url('../../assets/illustration-atuacao.svg');
        background-repeat: no-repeat;
        background-position: top right;
    }

    .bg-atuacao{
        position: absolute;
        bottom: -15rem;
        left: -35rem;
    }

    .left-area, 
    .right-area{
        .text-atuacao{
            p{
                // text-align: justify;
                margin-top: 2rem;
            }            
        }
    }

    .left-area{
        .text-atuacao{
            margin-bottom: 15rem;
        }
    }
    .right-area{
        .text-atuacao{
            margin-top: 15rem;
        }
    }

    // Breakpoints
    @include responsive(900px){
        .container{
            height: inherit;

            .bg-atuacao{
                width: 40rem;
                left: -20rem;
                bottom: -13rem;
            }
        }
    }

    @include responsive(600px){
        .container{
            flex-direction: column;
            background-image: none;

            .bg-atuacao{
                display: none;
            }

            .text-atuacao{
                margin-top: inherit;
                margin-bottom: inherit;
                text-align: center;
            }
        }
    }
}

.s-projetos{
    width: 100%;
    // height: 60rem;
    padding: 16rem 0;
    background: $dark;
    overflow: hidden;



    .container{
        @include flex(row, center, center);
        position: relative;

        &::after{
            content: "";
            position: absolute;
            bottom: -20rem;
            left: 0;
            width: 40rem;
            height: 40rem;
            flex-shrink: 0; 
            z-index: 0;
            border-radius: 70rem;
            opacity: 1;
            background: $brand-green;

        }
    
        &::before{
            content: "";
            position: absolute;
            right: 0;
            top: -10rem;
            width: 40rem;
            height: 40rem;
            flex-shrink: 0; 
            z-index: 0;
            border-radius: 70rem;
            opacity: 1;
            background: $brand-cyan-green;
        }
        
        &::before{
            animation: up 5s linear infinite;
        }
        &::after{
            animation: down 5s linear infinite;
        }
        
    }

    .box-bluer{
        display: flex;
        width: 107.3rem;
        height: 45rem; 
        padding: 3.2rem 6.4rem;
        justify-content: center;
        align-items: center;
        gap: 2.4rem;
        flex-shrink: 0; 
        z-index: 1;

        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(37, 37, 37, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);

        .left-area{
            @include flex(row, center, center);
            padding: 10.7rem 9.5rem;
            width: 100%;
            border: rgba(255, 255, 255, 0.237) 1px solid;
            border-radius: 8px;
            // background: $brand-cyan-green;

            img{
                width: 28.1rem;
                height: 12rem; 
            }
        }

        .right-area{
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 4rem;

            .text-projetos{
                display: flex;
                flex-direction: column;
                gap: 1.6rem;

                p{
                    color: $text-color-body;
                    text-align: justify;
                }
            }
        }
    }

    @include responsive(1366px){
        background-size: 95%;
    }
    @include responsive(1150px){
        .container{
            &::after,
            &::before{
                width: 30rem;
                height: 30rem;
            }
        }
        .box-bluer{
            width: 90%;
            
            .left-area{
                padding: 10.7rem 1.5rem;
            }
        }
    }
    @include responsive(800px){
        .container{
            &::after,
            &::before{
                width: 25rem;
                height: 25rem;
            }
        }
        .box-bluer{
            height: auto;
            flex-wrap: wrap;
        }
    }
    @include responsive(500px){
        padding: 8rem 0;
        background-image: none;

        .container{
            &::after{
                bottom: -10rem;
                left: -10rem;
            }
            &::before{
                top: -5rem;
                right: -10rem;
            }
        }

        .box-bluer{
            width: 100%;
            padding: 2.5rem;

            .left-area{
                height: 100%;
                padding: 6rem 1.5rem;
                img{
                    max-width: 100%;
                }
            }
        }
    }
}

.s-front{
    width: 100%;
    padding: 8rem 0;

    .container{
        height: 35rem;
        background-image: url('../../assets/FRONT-END-DEVELOPER.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 90%;
    }
}

.s-contato{
    width: 100%;
    padding: 8rem 0;

    .container{
        @include flex(column, center, flex-start);
    }

    .top-area{
       padding: 2.4rem 0; 
       
       h2,
       p{
            width: 100%;
            max-width: 67rem;
            text-align: center;
       }
       p{
            margin-top: 1rem;
       }
    }

    .bottom-area{
        margin-top: 2.4rem;
        .form-container{
            padding: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .form{
                @include flex(column, center, flex-start);
                gap: 3.2rem;
                margin-bottom: 6.4rem;

                .form-group:first-child{
                    @include flex(row, center, space-between);
                    gap: 6.4rem;
                }

                .form-group{
                    .input-item{
                        width: 100%;

                        label{
                            font-family: 'Ubuntu';
                            font-weight: 700;
                            letter-spacing: 0px;
                        }
                        input, textarea{
                            padding: 1rem 0.3rem;
                            margin-top: .5rem;
                            border: 0;
                            border-bottom: 1.5px solid $brand-green;

                            &::placeholder{
                                color: rgb(168, 168, 168);
                            }
                        }
                    }
                }

                .form-group:last-child{
                    width: 100%;

                    .input-item{
                        textarea{
                            width: 100%;
                            resize: none;

                            &::placeholder{
                                text-align: left;
                            }
                        }
                    }
                    
                }
            }
        }

    }

    @include responsive(900px){
        .bottom-area{
            .form-container{
                .form{
                    .form-group:first-child{
                        gap: 1rem;
                    }
                }
            }
        }
    }
    @include responsive(800px){
        .bottom-area{
            .form-container{
                .form{
                    .form-group:first-child{
                        flex-wrap: wrap;
                        gap: 6.4rem;
                        input{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    @include responsive(500px){
        .bottom-area{
            .form-container{
                padding: inherit;
            }
        }
    }
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #0000008b;
    backdrop-filter: blur(5px);
    transition: all .3s ease;
    display: none;
}