$dark: #0F0F0F;
$white: #FFFFFF;
$brand-green: #B3F79A;
$brand-cyan-green: #81F2DC;
$brand-cyan-green-opacity: rgba(31, 192, 160, 0.16);
$text-color-body: rgba(255, 255, 255, 0.7);
$text-color-title-alternative: #373737;
$liner-gradient: linear-gradient(90deg, #81F2DC 0%, #B3F79A 100%);